<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日程</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
<div class="title">
    <div class="calendar">
        <div class="date active"></div>
        <div class="time">18:00</div>
    </div>
    <div class="confirm">确定</div>
</div>
<div class="content">
    <div id="calendar"></div>
    <div id="timeSelect" class="hide"></div>
</div>
<div class="bottom">
    <label class="lunar">
        <input type="checkbox" />农历
    </label>
    <label class="full_day">
        <input type="checkbox" />全天
    </label>
</div>
</body>