<table class="<%= data.type %>">
    <% var list = data.date %>
    <% for(var i=0;i<list.length;i++) { %>
        <% var eachDay = list[i]; %>
        <% if(i%7 == 0) { %>
            <tr>
        <% } %>
        <% var className = "" %>
        <% if(eachDay.nWeek > 5) { %>
            <% className = 'weekend' %>
        <% } %>
        <% if(eachDay.cDay == 1) { %>
            <% className = 'solar_first' %>
        <% } %>
        <% if(eachDay.IDayCn == '初一') { %>
            <% className = 'lunar_first' %>
        <% } %>
        <% if(eachDay.cDay == 1 && eachDay.IDayCn == '初一') { %>
            <% className = 'both_first' %>
        <% } %>
        <% if(eachDay.isToday) { %>
            <% className = 'today' %>
        <% } %>
        <% if(eachDay.isCurrentMonth == false) { %>
            <% className = 'fill_date' %>
        <% } %>
        <td>
            <div class="<%= data.mode == 'solar' ? '' : 'hide' %> solar <%= className %>"><%= eachDay.cDay == 1 ? eachDay.cMonth + '月' : eachDay.cDay %></div>
            <div class="<%= data.mode == 'lunar' ? '' : 'hide' %> lunar <%= className %>"><%= eachDay.IDayCn == '初一' ? eachDay.IMonthCn : eachDay.IDayCn %></div>
            <div class="hide_date" data-index="<%= i %>" data-year="<%= eachDay.cYear %>" data-month="<%= eachDay.cMonth %>"></div>
        </td>
        <% if(i%7 == 6) { %>
            </tr>
        <% } %>
    <% } %>
</table>
